<launch>

  <node pkg="rospy_tutorials" type="talker" name="talker">
    <!-- set a private parameter for the node -->
    <param name="agents" value="a value" />
  </node>

  <arg name="path" default="/home/christian/Projekte/ros/merge/" />
  <arg name="file_1" default="apollon_bag1/apollon_ecke" />
  <arg name="file_2" default="boreas_bag1/boreas_ecke" />
  <node pkg="rosbag" type="play" name="player1" output="screen" args="--clock $(arg path)$(arg file_1).bag"/>
  <node pkg="rosbag" type="play" name="player2" output="screen" args="--clock $(arg path)$(arg file_2).bag"/>

</launch>
